

<div class="main-box-container">
<div class="main-box-zw"></div>
	<div class="main-box-headbar">
		<div class="main-box-back" ng-click="ozBackIndex()">
			<i class="iconfont">&#xe614;</i>
		</div>
		<div class="main-box-title" ng-bind="title">详情</div>
	</div>
	<div class="help-content-container" ng-click="commonIssue()">
		<div class="help-issue-item" >
			<div><i class="iconfont">&#xe60c;</i>常见问题</div>
			<div><i class="iconfont">&#xe613;</i></div>
		</div>
	</div>
	<div class="help-content-container" ng-click="userCourse()">
		<div class="help-issue-item" >
			<div><i class="iconfont">&#xe60d;</i>新手教程</div>
			<div><i class="iconfont">&#xe613;</i></div>
		</div>
	</div>
	<div class="help-content-container" ng-click="feedback()">
		<div class="help-issue-item" >
			<div><i class="iconfont">&#xe60f;</i>意见反馈</div>
			<div><i class="iconfont">&#xe613;</i></div>
		</div>
	</div>
	<div class="help-content-container" ng-click="abountMe()">
		<div class="help-issue-item" >
			<div><i class="iconfont">&#xe60e;</i>关于我们</div>
			<div><i class="iconfont">&#xe613;</i></div>
		</div>
	</div>
</div>
